// .sign-up {
	//   width: 850px;
	//   display: flex;
	// //  flex-direction: column;
	
	
	//   .title {
	//     margin: 10px 0;
	//   }
	// }
	
	.header{
	  margin-top: 100px;
	}
	
	.title{
	  text-align: center;
	}
	
	.button{
	  text-align: center
	}