.form-input-image {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem; 
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
  background-color: #ff1744;
  width: 600px;

}
.header-imagelinkform{
//  margin-top: 150px;
}
.heading-motto {
  color: rgba(0, 0, 0, 0.870588);
}